doctype html
head
  meta(charset='UTF-8')
  title= title
  link(rel='stylesheet' href='scss/index.css')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='css/bootstrap.min.css')
  link(rel='stylesheet' href='css/owl.carousel.css')
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" )

.section1
  .container
    .header
      .container
        .head
          .row.pt-lg-3
            .col-lg-6
              button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarTogglerDemo03' aria-controls='navbarTogglerDemo03' aria-expanded='false' aria-label='Toggle navigation')
                span
                  img(src='images/' alt='')
              a.navbar-brand(href='#')
                img(src='images/UMovies.png' alt='')
            .col-lg-2.ab
              span
                img(src='SVG/Icon%20weather-time-9.svg' alt='')
              dl
                dt &Rcy;&acy;&bcy;&ocy;&chcy;&iecy;&iecy; &vcy;&rcy;&iecy;&mcy;&yacy;
                dd &Pcy;&ocy;&ncy;-&Scy;&ucy;&bcy;: 9-20
            .col-lg-2.ab(style='padding-right: 0; padding-left: 0')
              span
                img(src='SVG/Icon%20awesome-location-arrow.svg' alt='')
              dl
                dt &Rcy;&acy;&scy;&pcy;&ocy;&lcy;&ocy;&zhcy;&iecy;&ncy;&icy;&iecy;
                dd &Tcy;&acy;&shcy;&kcy;&iecy;&ncy;&tcy;, &Ocy;&lcy;&mcy;&acy;&zcy;&ocy;&rcy;
            .col-lg-2.ab
              span
                img(src='SVG/Icon%20awesome-phone-alt.svg' alt='')
              dl
                dt &Kcy;&ocy;&lcy;&lcy;-&tscy;&iecy;&ncy;&tcy;&rcy;
                dd +998917911122
        hr
        .row
          .col-lg-8.offset-lg-4
            nav.navbar.navbar-expand-lg.navbar-white.bg-transparent
              #navbarTogglerDemo03.collapse.navbar-collapse
                ul.navbar-nav.mr-auto.mt-2.mt-lg-0
                  li.nav-item.mx-lg-3
                    a.nav-link(href='#') &Gcy;&Lcy;&Acy;&Vcy;&Ncy;&Acy;&YAcy;
                  li.nav-item.mx-lg-3
                    a.nav-link(style='margin: 0;padding-left: 0' href='#')
                      | &Vcy;&Icy;&Dcy;&Ycy;
                      | &Dcy;&IEcy;&YAcy;&Tcy;&IEcy;&Lcy;&SOFTcy;&Ncy;&Ocy;&Scy;&Tcy;&Icy;
                  li.nav-item.mx-lg-3
                    a.nav-link(href='#') &Ucy;&Scy;&Lcy;&Ucy;&Gcy;&Icy;
                  li.nav-item.mx-lg-3
                    a.nav-link(href='#product') &Pcy;&Rcy;&Ocy;&Dcy;&Ucy;&Kcy;&TScy;&Icy;&YAcy;
                  li.nav-item.mx-lg-3
                    a.nav-link(href='#') &Kcy;&Ocy;&Ncy;&Tcy;&Acy;&Kcy;&Tcy;&Ycy;
  .container
    .box
      br
      br
      br
      br
      br
      br
      h1
        | &Ecy;&Kcy;&Scy;&Pcy;&Ocy;&Rcy;&Tcy; &Icy; &Icy;&Mcy;&Pcy;&Ocy;&Rcy;&Tcy; 
        br
        |  &Scy;&IEcy;&Lcy;&SOFTcy;&Scy;&Kcy;&Ocy;&KHcy;&Zcy;&YAcy;&Jcy;&Scy;&Tcy;&Vcy;&IEcy;&Ncy;&Ncy;&Ocy;&Jcy; &Pcy;&Rcy;&Ocy;&Dcy;&Ucy;&Kcy;&TScy;&Icy;&Icy;
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi at consequuntur dolor sit
        br
        |                 amet, consectetur adipisicing elit. Animi at consequuntur dolorem iste
      br
      br
      .row
        .col-lg-4
          button.w-100.btn
            img(src='SVG/Icon%20ionic-ios-mail.svg' alt='')
            b &Ocy;&tcy;&pcy;&rcy;&acy;&vcy;&icy;&tcy;&softcy; &zcy;&acy;&pcy;&rcy;&ocy;&scy;
        .col-lg-4
          button.w-100.btn
            img(src='SVG/Icon%20ionic-md-chatboxes.svg' alt='')
            b &Zcy;&acy;&dcy;&acy;&tcy;&softcy; &vcy;&ocy;&pcy;&rcy;&ocy;&scy;
        .col-lg-4
          button.w-100.btn
            img(src='SVG/Icon%20awesome-phone-alt.svg' alt='')
            b &Ocy;&bcy;&rcy;&acy;&tcy;&ncy;&ycy;&jcy; &zcy;&vcy;&ocy;&ncy;&ocy;&kcy;
      br
      br
.section2
  .container
    .row.my-lg-5
      .col-lg-6
        h1
          | &Ocy; &Kcy;&Ocy;&Mcy;&Pcy;&Acy;&Ncy;&Icy;&Icy; 
          span(style='background-color: #484848; color: whitesmoke') &quot;UZIMPEKS&quot;LLC
        .badge.badge-dark .
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eaque earum est et excepturi fugit,
          | harum maiores minima obcaecati, quibusdam quis ullam voluptas! A accusantium aperiam, culpa cumque
          | cupiditate dolorum exercitationem, fugiat itaque modi quis recusandae, reprehenderit temporibus
          | tenetur voluptatum!
        .row
          .col-lg-6
            h5
              b Xurshid Istamov
            p &Dcy;&icy;&rcy;&iecy;&kcy;&tcy;&ocy;&rcy; &kcy;&ocy;&mcy;&pcy;&acy;&ncy;&icy;&icy;...
          .col-lg-6
            h5
              b Sherzod Musayev
            p &Mcy;&iecy;&ncy;&iecy;&gcy;&iecy;&rcy; &kcy;&ocy;&mcy;&pcy;&acy;&ncy;&icy;&icy;...
      .col-lg-6
        img.img-fluid(src='Images/transportation-logistics_37416-135.png' alt='')
.section3
  .container.py-lg-5
    h2
      | &Vcy;&Icy;&Dcy;&Ycy; 
      span(style='background-color: #484848; color: whitesmoke') &Dcy;&IEcy;&YAcy;&Tcy;&IEcy;&Lcy;&SOFTcy;&Ncy;&Ocy;&Scy;&Tcy;&Icy;
    .badge.badge-dark .
    p(style='color: grey') Lorem ipsum dolor sit amet, consectetur adipisicing elit
    .row
      .col-lg-3
        .card
          .card-body
            img.card-img-top.w-100(src='Images/Пересечение%204.png' alt='')
            h5.mt-lg-2
              | &Ecy;&Kcy;&Scy;&Pcy;&Ocy;&Rcy;&Tcy; 
              br
              |  &Tcy;&Ocy;&Vcy;&Acy;&Rcy;&Ocy;&Vcy;
            .badge .
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci asperiores consequatur
              | corporis dolorem fugiat similique.
            button.btn.btn-outline-dark &Pcy;&ocy;&dcy;&rcy;&ocy;&bcy;&ncy;&iecy;&iecy;
      .col-lg-3
        .card
          .card-body
            img.card-img-top.w-100(src='Images/Пересечение%206.png' alt='')
            h5.mt-lg-2
              | &Icy;&Mcy;&Pcy;&Ocy;&Rcy;&Tcy; 
              br
              |  &Tcy;&Ocy;&Vcy;&Acy;&Rcy;&Ocy;&Vcy;
            .badge .
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci asperiores consequatur
              | corporis dolorem fugiat similique.
            button.btn.btn-outline-dark &Pcy;&ocy;&dcy;&rcy;&ocy;&bcy;&ncy;&iecy;&iecy;
      .col-lg-3
        .card
          .card-body
            img.card-img-top.w-100(src='Images/Пересечение%207.png' alt='')
            h5.mt-lg-2
              | &Mcy;&IEcy;&ZHcy;&Dcy;&Ucy;&Ncy;&Acy;&Rcy;&Ocy;&Dcy;&Ncy;&Ycy;&IEcy; 
              br
              |  &Pcy;&IEcy;&Rcy;&IEcy;&Vcy;&Ocy;&Zcy;&Kcy;&Icy;
            .badge .
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci asperiores consequatur
              | corporis dolorem fugiat similique.
            button.btn.btn-outline-dark &Pcy;&ocy;&dcy;&rcy;&ocy;&bcy;&ncy;&iecy;&iecy;
      .col-lg-3
        .card
          .card-body
            img.card-img-top.w-100(src='Images/Пересечение%208.png' alt='')
            h5.mt-lg-2
              | &Ucy;&Scy;&Lcy;&Ucy;&Gcy;&Icy; 
              br
              |  &Vcy; &Scy;&Fcy;&IEcy;&Rcy;&IEcy; &Vcy;&Ecy;&Dcy;
            .badge .
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci asperiores consequatur
              | corporis dolorem fugiat similique.
            button.btn.btn-outline-dark &Pcy;&ocy;&dcy;&rcy;&ocy;&bcy;&ncy;&iecy;&iecy;
.section4
  .container
    .row.my-lg-5
      .col-lg-6
        img.img-fluid(src='SVG/Сгруппировать%2023.svg' alt='')
      .col-lg-6
        h2
          | &Ocy; &Kcy;&Ocy;&Mcy;&Pcy;&Acy;&Ncy;&Icy;&Icy; 
          span(style='background-color:  #484848; color: whitesmoke') &quot;UZIMPEX&quot; LLC
        .badge.badge-dark .
        p(style='color: grey')
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam cum cupiditate
          | deserunt eaque labore natus neque. Ad commodi dolorum eos facere iure laborum mollitia nostrum
          | vitae. Eos labore minima non obcaecati quisquam quos recusandae repellendus totam ullam? At atque
          | autem consequatur consequuntur fuga reprehenderit repudiandae sapiente sed, vero. Ab accusantium
          | amet asperiores beatae blanditiis commodi cupiditate debitis deserunt distinctio 
          br
          |  doloribus
          |                     eligendi
          |                     error excepturi exercitationem expedita explicabo hic incidunt inventore ipsam ipsum iusto labore
          |                     laborum nam nemo neque nobis numquam odit omnis quae quaerat, qui quia quod repellat sed similique
          |                     tenetur velit voluptatem. Doloribus eos expedita explicabo ipsa officiis placeat rem.Lorem sdddf
          |                     ffrgre ipsum dolor sit amet, consectetur adipisicing elit. Culpa libero
.section5
  .container.py-lg-5
    br
    br
    .row
      .col-lg-6
        h1
          | &Ncy;&Acy;&SHcy;&Acy; 
          span(style='background-color:  #484848; color: whitesmoke') &TScy;&IEcy;&Lcy;&SOFTcy;
        p(style='font-size: 20px')
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque dicta
          | distinctio earum facere fugiat
          | illum in ipsa odio praesentium quo similique, tenetur voluptate voluptatem. A aperiam blanditiis
          | consequatur culpa enim ex fugiat ipsa itaque magnam, maiores natus nihil nobis odit placeat porro
          | quis quod repellat sed sint unde ut vero?
        br
        button.btn.btn-outline-dark &Pcy;&ocy;&dcy;&rcy;&ocy;&bcy;&ncy;&iecy;&iecy;
        br
        br
.section6(id="product")
  .container.pt-lg-5
    .head
      h2
        | &Ecy;&Kcy;&Scy;&Pcy;&Ocy;&Rcy;&Tcy;&Icy;&Rcy;&Ucy;&IEcy;&Mcy;&Acy;&YAcy; 
        span(style='background-color:  #484848; color: whitesmoke') &Pcy;&Rcy;&Ocy;&Dcy;&Ucy;&Kcy;&TScy;&Icy;&YAcy;
      .badge.badge-dark .
      p(style='color: grey') Lorem ipsum dolor sit amet, consectetur adipisicing elit
    .row
     each db, i in datas
      .col-lg-6.col.mt-lg-5
        .bir
          img(src=db.photo alt='')
          .divTime
            i(class="mr-2 fas fa-calendar-alt")
            span= db.dateTime.toDateString()
          .box
            h3(style="text-align: center")= db.title
            p= db.about
            button.btn.btn-outline-dark &Pcy;&ocy;&dcy;&rcy;&ocy;&bcy;&ncy;&iecy;&iecy;
      
.section7
  .container
    h1
      | &Rcy;&IEcy;&Zcy;&Ucy;&Lcy;&Tcy;&Acy;&Tcy;&Ycy; &Rcy;&Acy;&Bcy;&Ocy;&Tcy;&Ycy; 
      span(style='background-color: #484848; color: whitesmoke') &Zcy;&Acy; 2020 &Gcy;&Ocy;&Dcy;
    br
    br
    .row
      .col-lg-4
        h2 2500+
        p.p1
          | - 
          img(src='SVG/contract.svg' alt='')
          |  -
        p.p2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, rem!
      .col-lg-4
        h2 30+
        p.p1
          | - 
          img(src='SVG/location.svg' alt='')
          |  -
        p.p2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, rem!
      .col-lg-4
        h2
          | 12.0 
          span(style='font-size: 30px') &mcy;&lcy;&ncy; $
        p.p1
          | - 
          img(src='SVG/money.svg' alt='')
          |  -
        p.p2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, rem!
    br
    br
.section8
  .container
    .div
      h2
        | &Ucy;&Scy;&Lcy;&Ucy;&Gcy;&Icy; &Vcy;&IEcy;&Dcy; &Pcy;&Ocy; &Scy;&Tcy;&Rcy;&Acy;&Ncy;&Acy;&Mcy; 
        span(style='background-color: #484848; color: whitesmoke') -&Ecy;&Kcy;&Scy;&Pcy;&Ocy;&Rcy;&Tcy;/&Icy;&Mcy;&Pcy;&Ocy;&Rcy;&Tcy;
      .badge.badge-dark .
      p(style='color: grey')
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet,
        | consectetur adipisicing elit. Atque deleniti earum explicabo, fugit illum laudantium natus pariatur,
    .row
      .col-lg-3
        .box
          img(src='Images/okno_5_1.png' alt='')
          h2 &Kcy;&acy;&zcy;&acy;&khcy;&scy;&tcy;&acy;&ncy;
          button.btn.btn-outline-dark &Pcy;&ocy;&dcy;&rcy;&ocy;&bcy;&ncy;&iecy;&iecy;
      .col-lg-3
        .box
          img(src='Images/okno_5_2.png' alt='')
          h2 &Bcy;&iecy;&lcy;&acy;&rcy;&ucy;&scy;&softcy;
          button.btn.btn-outline-dark &Pcy;&ocy;&dcy;&rcy;&ocy;&bcy;&ncy;&iecy;&iecy;
      .col-lg-3
        .box
          img(src='Images/okno_5_3.png' alt='')
          h2 &Kcy;&icy;&rcy;&gcy;&icy;&zcy;&icy;&yacy;
          button.btn.btn-outline-dark &Pcy;&ocy;&dcy;&rcy;&ocy;&bcy;&ncy;&iecy;&iecy;
      .col-lg-3
        .box
          img(src='Images/okno_5_4.png' alt='')
          h2 &Acy;&rcy;&mcy;&iecy;&ncy;&icy;&yacy;
          button.btn.btn-outline-dark &Pcy;&ocy;&dcy;&rcy;&ocy;&bcy;&ncy;&iecy;&iecy;
      .col-lg-3.mt-lg-4
        .box
          img(src='Images/okno_5_6.png' alt='')
          h2 &Tcy;&acy;&dcy;&zhcy;&icy;&kcy;&icy;&scy;&tcy;&acy;&ncy;
          button.btn.btn-outline-dark &Pcy;&ocy;&dcy;&rcy;&ocy;&bcy;&ncy;&iecy;&iecy;
      .col-lg-3.mt-lg-4
        .box
          img(src='Images/okno_5_7.png' alt='')
          h2 &Ucy;&kcy;&rcy;&acy;&icy;&ncy;&acy;
          button.btn.btn-outline-dark &Pcy;&ocy;&dcy;&rcy;&ocy;&bcy;&ncy;&iecy;&iecy;
      .col-lg-3.mt-lg-4
        .box
          img(src='Images/okno_5_8.png' alt='')
          h2 &Acy;&zcy;&acy;&rcy;&bcy;&acy;&jcy;&zhcy;&acy;&ncy;
          button.btn.btn-outline-dark &Pcy;&ocy;&dcy;&rcy;&ocy;&bcy;&ncy;&iecy;&iecy;
      .col-lg-3.mt-lg-4
        .box
          img(src='Images/okno_5_9.png' alt='')
          h2 &Mcy;&ocy;&lcy;&dcy;&ocy;&vcy;&acy;
          button.btn.btn-outline-dark &Pcy;&ocy;&dcy;&rcy;&ocy;&bcy;&ncy;&iecy;&iecy;
    br
    br
    .row
      .col-lg-3.offset-lg-3
        .input-group.mb-3
          .input-group-prepend
            span.input-group-text.btn-dark.bg-dark
              img(src='SVG/Icon%20material-language.svg' alt='')
          input.form-control(type='text' placeholder='Все страны')
      .col-lg-3
        .input-group.mb-3
          input.form-control(type='search' placeholder='Поиск страны')
          .input-group-append
            span.input-group-text.btn-dark.bg-dark
              img(src='SVG/Icon%20feather-search.svg' alt='')
    br
    br
.section9
  .container
    .row
      .col-lg-7
        h2
          | &Rcy;&Acy;&Scy;&Scy;&CHcy;&Icy;&Tcy;&Acy;&Tcy;&SOFTcy; &Scy;&Tcy;&Ocy;&Icy;&Mcy;&Ocy;&Scy;&Tcy;&SOFTcy; 
          span(style='background-color: #484848; color: whitesmoke') &Dcy;&Ocy;&Scy;&Tcy;&Acy;&Vcy;&Kcy;&Icy;
        br
        p(style='font-size: 20px')
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque dicta
          | distinctio earum facere fugiat
        br
      .col-lg-3.offset-lg-2.pt-lg-5
        .input-group
          .input-group-prepend
            span.input-group-text.btn-warning.bg-warning
              img(src='SVG/calculator%20·%20finance%20·%20business%20·%20calculation%20·%20money.svg' alt='')
          input.form-control(type='text' placeholder='Отправить Запрос')
.section10
  .container
    .div
      br
      h2
        | &Ucy;&Scy;&Lcy;&Ucy;&Gcy;&Icy; &Vcy; &Scy;&Fcy;&IEcy;&Rcy;&IEcy; &Vcy;&IEcy;&Dcy;. 
        span(style='background-color: #484848; color: whitesmoke') &Acy;&Ucy;&Tcy;&Scy;&Ocy;&Rcy;&Scy;&Icy;&Ncy;&Gcy; &Vcy;&Ecy;&Dcy;
      .badge.badge-dark .
      p(style='color: grey')
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet,
        | consectetur adipisicing elit.
      br
    .row
      .col-lg-3
        .box
          img(src='SVG/work.svg' alt='')
          h4.mt-lg-2 &Acy;&Ucy;&Tcy;&Scy;&Ocy;&Rcy;&Scy;&Icy;&Ncy;&Gcy; &Vcy;&IEcy;&Dcy;
          .badge .
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta dolor dolorum esse nobis
            | quisquam?
      .col-lg-3
        .box
          img(src='SVG/businessman.svg' alt='')
          h4.mt-lg-2 &Acy;&Ucy;&Tcy;&Scy;&Ocy;&Rcy;&Scy;&Icy;&Ncy;&Gcy; &Vcy;&IEcy;&Dcy;
          .badge .
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta dolor dolorum esse nobis
            | quisquam?
      .col-lg-3
        .box
          img(src='SVG/certificate.svg' alt='')
          h4.mt-lg-2 &Acy;&Ucy;&Tcy;&Scy;&Ocy;&Rcy;&Scy;&Icy;&Ncy;&Gcy; &Vcy;&IEcy;&Dcy;
          .badge .
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta dolor dolorum esse nobis
            | quisquam?
      .col-lg-3
        .box
          img(style='width: 64px' src='SVG/contract.svg' alt='')
          h4.mt-lg-2 &Acy;&Ucy;&Tcy;&Scy;&Ocy;&Rcy;&Scy;&Icy;&Ncy;&Gcy; &Vcy;&IEcy;&Dcy;
          .badge .
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta dolor dolorum esse nobis
            | quisquam?
    br
.section11
  .container
    .row
      .col-lg-6
        .box
          br
          br
          br
          h2
            | &Pcy;&Ocy;&Lcy;&IEcy;&Zcy;&Ncy;&Acy;&YAcy; 
            span(style='background-color: #484848; color: whitesmoke') &Icy;&Ncy;&Fcy;&Ocy;&Rcy;&Mcy;&Acy;&TScy;&Icy;&YAcy;
          .badge.badge-dark .
          br
          .list
            p * &Scy;&tcy;&acy;&vcy;&kcy;&icy; &tcy;&ocy;&mcy;&ocy;&zhcy;&iecy;&ncy;&ncy;&ycy;&khcy; &scy;&bcy;&ocy;&rcy;&ocy;&vcy;
            p * &Icy;&ncy;&kcy;&ocy;&tcy;&iecy;&rcy;&mcy;&scy; 2010
            p * &Tcy;&ocy;&vcy;&acy;&rcy;&ycy; &dcy;&vcy;&ocy;&jcy;&ncy;&ocy;&gcy;&ocy; &ncy;&acy;&zcy;&ncy;&acy;&chcy;&iecy;&ncy;&icy;&yacy;
            p * &Vcy;&ycy;&bcy;&ocy;&rcy; &pcy;&iecy;&rcy;&iecy;&vcy;&ocy;&zcy;&chcy;&icy;&kcy;&acy;
            p * &Ucy;&chcy;&acy;&scy;&tcy;&ncy;&icy;&kcy;&acy;&mcy; &Vcy;&IEcy;&Dcy;
            p * &Dcy;&ocy;&kcy;&iecy;&mcy;&iecy;&ncy;&tcy;&ycy; &dcy;&lcy;&yacy; &ecy;&kcy;&scy;&pcy;&ocy;&rcy;&tcy;/&icy;&mcy;&pcy;&ocy;&rcy;&tcy;
            p * &Scy;&khcy;&iecy;&mcy;&acy; &ecy;&kcy;&scy;&pcy;&ocy;&rcy;&tcy;/&icy;&mcy;&pcy;&ocy;&rcy;&tcy;&ncy;&ocy;&jcy; &scy;&dcy;&iecy;&lcy;&kcy;&icy;
            p * &Vcy;&ncy;&iecy;&shcy;&ncy;&iecy;&tcy;&ocy;&rcy;&gcy;&ocy;&vcy;&ycy;&jcy; &kcy;&ocy;&ncy;&tcy;&rcy;&acy;&kcy;&tcy;&softcy;
.section12
  .container.pt-lg-5
    h2
      | &Ecy;&Kcy;&Scy;&Pcy;&Ocy;&Rcy;&Tcy;/&Icy;&Mcy;&Pcy;&Ocy;&Rcy;&Tcy; 
      span(style='background-color: #484848; color: whitesmoke') &Pcy;&Ocy; &Scy;&Tcy;&Rcy;&Acy;&Ncy;&Acy;&Mcy;
    br
    .row
      .col-lg-1
        img(src='SVG/united-states.svg' alt='')
        p &Scy;&SHcy;&Acy;
      .col-lg-1.offset-lg-1
        img(src='SVG/germany.svg' alt='')
        p &Gcy;&iecy;&rcy;&mcy;&acy;&ncy;&icy;&yacy;
      .col-lg-1.offset-lg-1
        img(src='SVG/russia.svg' alt='')
        p &Rcy;&ocy;&scy;&scy;&icy;&yacy;
      .col-lg-1.offset-lg-1
        img(src='SVG/china.svg' alt='')
        p &Kcy;&icy;&tcy;&acy;&jcy;
      .col-lg-1.offset-lg-1
        img(src='SVG/turkey.svg' alt='')
        p &Tcy;&ucy;&rcy;&tscy;&icy;&yacy;
      .col-lg-1.offset-lg-1
        img(src='SVG/uzbekistan.svg' alt='')
        p &Ucy;&zcy;&bcy;&iecy;&kcy;&icy;&scy;&tcy;&acy;&ncy;
    br
    .row
      .col-lg-3.offset-lg-4
        .input-group
          .input-group-prepend
            span.input-group-text.btn-dark.bg-dark
              img(src='SVG/Icon%20material-language.svg' alt='')
          input.form-control(type='text' placeholder='Все страны')
.section14.mt-lg-5
  .container
    .row.pt-lg-4
      .col-lg-8.offset-lg-4
        nav.navbar.navbar-expand-lg.navbar-white.bg-transparent
          #navbarTogglerDemo03.collapse.navbar-collapse
            ul.navbar-nav.mr-auto.mt-2.mt-lg-0
              li.nav-item.mx-lg-3
                a.nav-link(href='#') &Gcy;&Lcy;&Acy;&Vcy;&Ncy;&Acy;&YAcy;
              li.nav-item.mx-lg-3
                a.nav-link(style='margin: 0;padding-left: 0;padding-right: 0' href='#')
                  | &Vcy;&Icy;&Dcy;&Ycy;
                  | &Dcy;&IEcy;&YAcy;&Tcy;&IEcy;&Lcy;&SOFTcy;&Ncy;&Ocy;&Scy;&Tcy;&Icy;
              li.nav-item.mx-lg-3
                a.nav-link(href='#') &Ucy;&Scy;&Lcy;&Ucy;&Gcy;&Icy;
              li.nav-item.mx-lg-3
                a.nav-link(href='#') &Pcy;&Rcy;&Ocy;&Dcy;&Ucy;&Kcy;&TScy;&Icy;&YAcy;
              li.nav-item.mx-lg-3
                a.nav-link(href='#') &Kcy;&Ocy;&Ncy;&Tcy;&Acy;&Kcy;&Tcy;&Ycy;
    hr
    br
    .row
      .col-lg-3.rasm
        p &Mcy;&ycy; &vcy; &scy;&ocy;&tscy;&icy;&acy;&lcy;&softcy;&ncy;&ycy;&khcy; &mcy;&iecy;&dcy;&icy;&acy;
        .badge
          img(src='Images/002-telegram.png' alt='')
        .badge
          img(src='Images/003-instagram.png' alt='')
        .badge
          img(src='Images/004-youtube.png' alt='')
      .col-lg-2.offset-lg-3
        span
          img(src='SVG/Icon%20weather-time-9.svg' alt='')
        dl
          dt &Rcy;&acy;&bcy;&ocy;&chcy;&iecy;&iecy; &vcy;&rcy;&iecy;&mcy;&yacy;
          dd &Pcy;&ocy;&ncy;-&Scy;&ucy;&bcy;: 9-20
      .col-lg-2(style='padding-left: 0; padding-right: 0')
        span
          img(src='SVG/Icon%20awesome-location-arrow.svg' alt='')
        dl
          dt &Rcy;&acy;&scy;&pcy;&ocy;&lcy;&ocy;&zhcy;&iecy;&ncy;&icy;&iecy;
          dd &Tcy;&acy;&shcy;&kcy;&iecy;&ncy;&tcy;, &Ocy;&lcy;&mcy;&acy;&zcy;&ocy;&rcy;
      .col-lg-2
        span
          img(src='SVG/Icon%20awesome-phone-alt.svg' alt='')
        dl
          dt &Kcy;&ocy;&lcy;&lcy;-&tscy;&iecy;&ncy;&tcy;&rcy;
          dd +998917911122
    br
  .foot.pt-lg-3(style='background-color: #666666')
    .container
      .row
        .col-lg-3
          p 2008-2020 &quot;UZIMPEX&quot; LLC
        .col-lg-4.offset-lg-5
          p Copyright UMDSOFT. &Vcy;&scy;&iecy; &pcy;&rcy;&acy;&vcy;&acy; &zcy;&acy;&shchcy;&icy;&shchcy;&iecy;&ncy;&ycy;
br
script(src='js/jquery-3.3.1.slim.min.js')
script(src='js/popper.min.js')
script(src='js/bootstrap.min.js')
script(src='js/owl.carousel.js')
script(src='js/owl.carousel.min.js')
script(src='js/animation-count.js')
script(src='js/animationCounter.js')
